

@media(min-width: 540px){

}

@media(min-width: 768px){

}


@media(min-width: 1024px){
    .header_nav{
        display: block !important;
    }

    .mobile_toggle{
        display: none;
    }
    .header_button{
        display: block;
    }
}


@media(min-width: 1200px){
    .header_wrapper {
        gap: 80px;
    }
    .header_nav{
        flex: 1;
        display: none;
    }
}